
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

 <!-- Page Sidebar Ends-->
<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-6">
                    <h3>User Profile</h3>
                </div>
                <div class="col-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Admin/AdminDashboard"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item active">User Profile</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="user-profile">
            <div class="row">
                <!-- user profile header start-->
                <div class="col-sm-4">
                    <div class="card profile-header">
                        <img class="img-fluid bg-img-cover" src="../assets/images/user-profile/bg-profile.jpg" alt="">
                        <div class="profile-img-wrrap"><img class="img-fluid bg-img-cover" src="../assets/images/user-profile/bg-profile.jpg" alt=""></div>
                        <div class="userpro-box">
                            <div class="img-wrraper">
                                <div class="avatar"><img class="img-fluid" alt="" src="../assets/images/user/7.jpg"></div><a class="icon-wrapper" href="#"><i class="icofont icofont-pencil-alt-5"></i></a>
                            </div>
                            <div class="user-designation">
                                <div class="title">
                                    <a target="_blank" href="">
                                        <h4>Emay Walter</h4>
                                    </a>
                                    <h6>Lucknow, Uttar Pradesh, India</h6>
                                </div>
                                <div class="social-media">
                                    <ul class="user-list-social">
                                        <li><a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="https://www.google.com" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="https://www.twitter.com" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                        <li><a href="https://www.rss.com" target="_blank"><i class="fa fa-rss"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="default-according style-1 job-accordion">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="p-0">
                                    <button class="btn btn-link ps-0" data-bs-toggle="collapse" data-bs-target="#collapseicon2" aria-expanded="true" aria-controls="collapseicon2">About Me</button>
                                </h3>
                            </div>
                            <div class="collapse show" id="collapseicon2" aria-labelledby="collapseicon2" data-parent="#accordion">
                                <div class="card-body post-about">
                                    <ul style="column-count:2">
                                        <li>
                                            <div class="icon"><i data-feather="briefcase"></i></div>
                                            <div>
                                                <h5>Father Name</h5>
                                                <p>A</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon"><i data-feather="book"></i></div>
                                            <div>
                                                <h5>Mobile Number</h5>
                                                <p>9876543210</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon"><i data-feather="heart"></i></div>
                                            <div>
                                                <h5>Email Id</h5>
                                                <p>admin@gmail.com</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon"><i data-feather="map-pin"></i></div>
                                            <div>
                                                <h5>Pincode</h5>
                                                <p>273007</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon"><i data-feather="droplet"></i></div>
                                            <div>
                                                <h5>State</h5>
                                                <p>Uttar Pradesh</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon"><i data-feather="droplet"></i></div>
                                            <div>
                                                <h5>City</h5>
                                                <p>Lucknow</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon"><i data-feather="droplet"></i></div>
                                            <div>
                                                <h5>Gender</h5>
                                                <p>Male</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon"><i data-feather="droplet"></i></div>
                                            <div>
                                                <h5>Address</h5>
                                                <p>Lucknow, Uttar Pradesh, India</p>
                                            </div>
                                        </li>
                                    </ul>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <!-- user profile header end-->
            </div>
            </div>
    <!-- Container-fluid Ends-->
</div>

