@model AnkurUdyogERP.Models.Menu


@if (Model != null)
            {
                if (Model.lstMenu != null)
                {
                    foreach (var item in Model.lstMenu)
                    {
            <li class="sidebar-list">
                <a class="sidebar-link sidebar-title" href="@item.Url">
                    <i data-feather="airplay"></i><span>@item.MenuName</span>
                </a>

                <ul class="sidebar-submenu">
                    @foreach (var item1 in Model.lstSubMenu)
                    {
                        if (item.PK_MenuId == item1.PK_MenuId)
                        {
                            <li><a href="@item1.Url">@item1.SubMenuName</a></li>
                        }
                    }
                </ul>

            </li>

        }
    }

}
