
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/Website_LayoutPage.cshtml";
}
<!--Start breadcrumb area paroller-->
<section class="breadcrumb-area">
    <div class="breadcrumb-area-bg">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="inner-content">
                    <div class="title" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
                        <h2>About Us</h2>
                    </div>
                    <div class="breadcrumb-menu" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1500">
                        <ul>
                            <li><a href="/Website/Index">Home</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            <li class="active">About Us</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb area-->
<!--Start About Style1 Area-->
<section class="about-style1-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="about-style1__image1 martop0">
                    <div class="inner">
                        <img src="~/asset_web/images/slides/banner-1.jpeg" class="img-fluid border-img" alt="company profile" />
                    </div>
                </div>
            </div>

            <div class="col-xl-6">
                <div class="about-style1__content">
                    <div class="sec-title">
                        <div class="sub-title">
                            <h6><span class="border-left"></span>About Company</h6>
                        </div>
                        <h2>Company Profile</h2>
                    </div>
                    <div class="inner-content">
                        <ul>
                            <li><span class="flaticon-quality"></span> 2000+ Employees</li>
                            <li><span class="flaticon-settings"></span> 500+ Dealer network</li>
                        </ul>
                        <div class="text-box">
                            <p>
                                Ankur Udyog Limited, is the Flagship Company of Ashok Jalan Group based at Gorakhpur.
                                The Company has set-up a state of art Integrated Steel Plant of 3 lakh  TPA and Captive Power Plant of 30 MW Capacity, in GIDA Industrial Area, Gorakhpur.
                            </p>
                            <p>The Establishment of the Plant commenced in the year 2020 has now the Plant is fully Operational with an investment of more than Rs. 550 Crores and spread over 80 Acers of Land.</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 mt-3">
                <p>This Project has been Designed by India’s leading Steel Industry Consultants and Technical Experts adopting the latest technologies. This Plant is fully Integrated from Iron Ore to Sponge Iron to MS Billets to TMX Rebars.</p>
                <p>The Company has developed a Private Railway Siding within the Plant Premises for obtaining high grade raw material from across the country. Entire Power / Electricity requirement of the Plant is Captively Generated.</p>
                <p>The TMX Rebars Manufactured in this plant is through ultra-modern State of Art Fully 16 numbers Housing-less, Horizontal / Vertical orientation Rolling Mill with 06 Stands BLOCK MILL and THERMEX Germany Quenching System.</p>
                <p>This plant has the latest technology and equipment is the most Modern Plant of the entire State of Uttar Pradesh. The Product of the plant is uniform and superior of ordinary TMT Rebars available in the Market.</p>
                <p>At Ankur Udyog Ltd , we have evolved an agile business model, which can respond to the rapidly evolving market realities with speed and has helped us consistently achieve volume guidance over the years.</p>
            </div>
        </div>
    </div>
</section>
<!--End About Style1 Area-->

<section class="cart-area">
    <div class="container">
        <div class="row text-right-rtl">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <h2 class="text-center mb-5">Capacity (300,000 Ton Per Annum)</h2>
                <div class="cart-table-box">
                    <div class="table-outer">
                        <table class="cart-table">
                            <thead class="cart-header">
                                <tr>
                                    <th>Units</th>
                                    <th>Capacity</th>
                                   
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><strong>Sponge Iron</strong></td>
                                    <td> 212 500</td>
                                </tr>
                                <tr>
                                    <td><strong>Steel melt Shop</strong></td>
                                    <td> 300300</td>
                                </tr>
                                <tr>
                                    <td><strong>Rolling Mill</strong></td>
                                    <td> 291300</td>
                                </tr>
                                <tr>
                                    <td><strong>Power Plant</strong></td>
                                    <td> 30 Mega Watt</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
         </div>
        </div>
    </section>
        <!--Start Team Style1 Area-->
        <section class="team-style1-area team-style1-area--style2 about-page">
            <div class="pattern-bg" style="background-image: url(/asset_web/images/pattern/thm-pattern-4.png);"></div>
            <div class="container">
                <div class="team-style1__top-title-box">
                    <div class="sec-title">
                        <div class="sub-title">
                            <h6><span class="border-left"></span>Team Members</h6>
                        </div>
                        <h2>Core Team</h2>
                    </div>
                    <div class="team-style1__button-box">
                        <a class="btn-one" href="/Website/OurTeam">
                            <span class="txt">All Experts</span>
                        </a>
                    </div>
                </div>

                <div class="row">
                    <!--Start Single Team Style1-->
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="single-team-style1 wow fadeInLeft animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                            <div class="img-holder">
                                <div class="inner">
                                    <img src="/asset_web/images/team/ashok.jpeg" alt="">
                                    <div class="overlay-bg"></div>
                                </div>
                            </div>
                            <div class="title-holder">
                                <h3><a href="/Website/OurTeam">Mr. Ashok Jalan</a></h3>
                                <p>Managing Director</p>
                            </div>
                        </div>
                    </div>
                    <!--End Single Team Style1-->
                    <!--Start Single Team Style1-->
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="single-team-style1 wow fadeInLeft animated" data-wow-delay="100ms" data-wow-duration="1500ms">
                            <div class="img-holder">
                                <div class="inner">
                                    <img src="/asset_web/images/team/nikhil.jpg" alt="">
                                    <div class="overlay-bg"></div>
                                </div>
                            </div>
                            <div class="title-holder">
                                <h3><a href="/Website/OurTeam">Mr. Nikhil Jalan</a></h3>
                                <p>Director</p>
                            </div>
                        </div>
                    </div>
                    <!--End Single Team Style1-->
                    <!--Start Single Team Style1-->
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="single-team-style1 wow fadeInRight animated" data-wow-delay="100ms" data-wow-duration="1500ms">
                            <div class="img-holder">
                                <div class="inner">
                                    <img src="/asset_web/images/team/ankur.jpg" alt="">
                                    <div class="overlay-bg"></div>
                                </div>
                            </div>
                            <div class="title-holder">
                                <h3><a href="/Website/OurTeam">Ankur Jalan</a></h3>
                                <p>Director</p>
                            </div>
                        </div>
                    </div>
                    <!--End Single Team Style1-->
                </div>
            </div>
        </section>
        <!--End Team Style1 Area-->
        <!--Start Choose Style2 Area-->
        <section class="choose-style2-area about-page pd120-0-90">
            <div class="container">
                <div class="sec-title center text-center">
                    <h2>TMT Bar Grade - Fe 550 </h2>
                </div>
                <div class="row">
                    <!--Start Single Choose Box-->
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="single-choose-box mar-b-30">
                            <div class="inner">
                                <div class="icon"><span class="flaticon-protection"></span></div>
                                <div class="counting-box">01</div>
                                <div class="text">
                                    <h3>BLOCK MILL</h3>
                                    <p>16 HV stands Rolling Mill with 06 Stands BLOCK MILL</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Single Choose Box-->
                    <!--Start Single Choose Box-->
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="single-choose-box mar-b-30">
                            <div class="inner">
                                <div class="icon"><span class="flaticon-quality"></span></div>
                                <div class="counting-box">02</div>
                                <div class="text">
                                    <h3>HIGH BOND STRENGTH</h3>
                                    <p>Excellent bond strength with concrete</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Single Choose Box-->
                    <!--Start Single Choose Box-->
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="single-choose-box mar-b-30">
                            <div class="inner">
                                <div class="icon"><span class="flaticon-construction-and-tools"></span></div>
                                <div class="counting-box">03</div>
                                <div class="text">
                                    <h3>MADE FROM IRON ORE</h3>
                                    <p>Bars manufactured by us are rolled from billets which are casted using iron ore as raw material.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Single Choose Box-->
                    <!--Start Single Choose Box-->
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="single-choose-box mar-b-30">
                            <div class="inner">
                                <div class="icon"><span class="flaticon-fast-delivery"></span></div>
                                <div class="counting-box">04</div>
                                <div class="text">
                                    <h3>FULLY AUTOMATED FULLY INTEGRATED</h3>
                                    <p>Fully integrated & automated plant ensure that every TMT bar is of the same standard.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Single Choose Box-->
                    <!--Start Single Choose Box-->
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="single-choose-box mar-b-30">
                            <div class="inner">
                                <div class="icon"><span class="flaticon-insurance"></span></div>
                                <div class="counting-box">05</div>
                                <div class="text">
                                    <h3>ZERO HUMAN TOUCH PRODUCTION</h3>
                                    <p>Zero Human Touch production.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Single Choose Box-->

                </div>
            </div>
        </section>
        <!--End Choose Style2 Area-->


