@{
    Layout = "~/Views/Shared/Website_LayoutPage.cshtml";
}


 <!--Start breadcrumb area paroller-->
<section class="breadcrumb-area">
    <div class="breadcrumb-area-bg" style="background-image: url(/asset_web/images/breadcrumb/breadcrumb-1.jpg);">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="inner-content">
                    <div class="title" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
                        <h2>Faq’s</h2>
                    </div>
                    <div class="breadcrumb-menu" data-aos="fade-up" data-aos-easing="linear"
                         data-aos-duration="1500">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            <li class="active">Faq’s</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb area-->
<!--Start Faq Page One-->
<section class="faq-page-one">
    <div class="container">
        <div class="sec-title center text-center">
            <div class="sub-title">
                <h6><span class="border-left"></span> Get Answers <span class="border-right"></span></h6>
            </div>
            <h2>Thing You Need To Know</h2>
        </div>
        <div class="row">
            <div class="col-xl-8">
                <div class="faq-style1-content">
                    <ul class="accordion-box">
                        <li class="accordion block active-block">
                            <div class="acc-btn active">
                                <div class="icon-outer"><i class="flaticon-down-arrow-2"></i></div>
                                <h3><span>Q1.</span> HOW ARE TMT BARS MANUFACTURED?</h3>
                            </div>
                            <div class="acc-content current">
                                <p>
                                    TMT bars have a special manufacturing process that makes them superior to traditional steel bars.
                                     Reputed TMT bar manufacturers in India such as Ankur Udyog have special manufacturing process known as 
                                    Tempcore technology. In the process, fresh steel bars, coming out from the rolling mill, 
                                    are passed through a specially designed water-cooling system.
                                </p>
                            </div>
                        </li>
                        <li class="accordion block">
                            <div class="acc-btn">
                                <div class="icon-outer"><i class="flaticon-down-arrow-2"></i></div>
                                <h3>
                                    <span>Q2.</span> HOW ARE TMT BARS SUPERIOR TO TRADITIONAL STEEL BARS?
                                </h3>
                            </div>
                            <div class="acc-content">
                                <p>
                                    Unlike traditional steel bars, TMT bars have several enhanced properties that make them better in every way. 
                                    Some of the profound properties of TMT bars include better bending strength, better ductility,
                                     better malleability, better thermal resistance and better corrosion resistance.
                                </p>
                            </div>
                        </li>
                        <li class="accordion block">
                            <div class="acc-btn">
                                <div class="icon-outer"><i class="flaticon-down-arrow-2"></i></div>
                                <h3><span>Q3.</span> HOW TO CHOOSE THE RIGHT TMT BAR AS PER QUALITY AND PRICE?</h3>
                            </div>
                            <div class="acc-content">
                                <p>
                                    There are countless TMT bar manufacturers in India and choosing the right one can get really confusing.
                                     In order to go for the right TMT bars, choose reputed brands such as SRMB that have ISO certification 
                                    and manufacture TMT bars under strict quality check.
                                </p>
                            </div>
                        </li>
                        <li class="accordion block">
                            <div class="acc-btn">
                                <div class="icon-outer"><i class="flaticon-down-arrow-2"></i></div>
                                <h3><span>Q4.</span> What Causes a Roof to Wear Out?</h3>
                            </div>
                            <div class="acc-content">
                                <p>
                                    Nor again is there anyone who loves or pursues or desires obtain pain of
                                    itself because it is pain, but because occasionally circumstances occur in
                                    which toil and pain can procures him some great pleasure.
                                </p>
                            </div>
                        </li>
                        <li class="accordion block">
                            <div class="acc-btn">
                                <div class="icon-outer"><i class="flaticon-down-arrow-2"></i></div>
                                <h3><span>Q5.</span> How Can I Find the Exact Location of a Leak?</h3>
                            </div>
                            <div class="acc-content">
                                <p>
                                    Nor again is there anyone who loves or pursues or desires obtain pain of
                                    itself because it is pain, but because occasionally circumstances occur in
                                    which toil and pain can procures him some great pleasure.
                                </p>
                            </div>
                        </li>
                        <li class="accordion block">
                            <div class="acc-btn">
                                <div class="icon-outer"><i class="flaticon-down-arrow-2"></i></div>
                                <h3><span>Q6.</span> How Hard Is It to Repair a Leaking Roof?</h3>
                            </div>
                            <div class="acc-content">
                                <p>
                                    Nor again is there anyone who loves or pursues or desires obtain pain of
                                    itself because it is pain, but because occasionally circumstances occur in
                                    which toil and pain can procures him some great pleasure.
                                </p>
                            </div>
                        </li>


                    </ul>
                </div>
            </div>

            <div class="col-xl-4">
                <div class="faq-form-box faq-form-box--style2">
                    <div class="top-title">
                        <h3>Do You Have Questions?</h3>
                        <p>Ask your questions to our expert team and get answers asap.</p>
                    </div>
                    <form id="faq-form" name="faq_form" class="default-form1" action="#" method="post">
                        <div class="input-box">
                            <input type="text" name="form_name" value="" placeholder="Name" required="">
                        </div>
                        <div class="input-box">
                            <input type="email" name="form_email" value="" placeholder="Email Address"
                                   required="">
                        </div>
                        <div class="input-box">
                            <textarea name="form_message" placeholder="Your Question ..."
                                      required=""></textarea>
                        </div>
                        <div class="button-box">
                            <button class="btn-one" type="submit" data-loading-text="Please wait...">
                                <span class="txt">Send Request</span>
                            </button>
                        </div>

                        <div class="bottom-box">
                            <p><span>*</span> Mail id not published.</p>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>
</section>
<!--End Faq Page One-->