
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Website_LayoutPage.cshtml";
}


 <!-- Start Main Slider -->
<section class="main-slider style1">
    <div class="slider-box">
        <!-- Banner Carousel -->
        <div class="banner-carousel owl-theme owl-carousel">
            <!-- Slide -->
            <div class="slide">
                <div class="image-layer" style="background-image:url(/asset_web/images/slides/slide-v1-1.jpg)">
                </div>
                <div class="auto-container">
                    <div class="content">
                        <div class="big-title">
                            <h2>Protect Your<br> Home With Durable<br> Roofing.</h2>
                        </div>
                        <div class="text">
                            <p>
                                With More than four decades of proven success in roofing<br> services, Reliable
                                Roofing & Retro-Fit.
                            </p>
                        </div>
                        <div class="btns-box">
                            <a class="btn-one" href="about.html">
                                <span class="txt">Read More</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slide -->
            <div class="slide">
                <div class="image-layer" style="background-image:url(/asset_web/images/slides/slide-v1-2.jpg)">
                </div>
                <div class="auto-container">
                    <div class="content">
                        <div class="big-title">
                            <h2>Best Team<br> To Provide You The<br> Best Service.</h2>
                        </div>
                        <div class="text">
                            <p>
                                With More than four decades of proven success in roofing<br> services, Reliable
                                Roofing & Retro-Fit.
                            </p>
                        </div>
                        <div class="btns-box">
                            <a class="btn-one" href="about.html">
                                <span class="txt">Read More</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slide -->
            <div class="slide">
                <div class="image-layer" style="background-image:url(/asset_web/images/slides/slide-v1-3.jpg)">
                </div>
                <div class="auto-container">
                    <div class="content">
                        <div class="big-title">
                            <h2>Your Roofing<br> Needs For a Great<br> Repair Job.</h2>
                        </div>
                        <div class="text">
                            <p>
                                With More than four decades of proven success in roofing<br> services, Reliable
                                Roofing & Retro-Fit.
                            </p>
                        </div>
                        <div class="btns-box">
                            <a class="btn-one" href="about.html">
                                <span class="txt">Read More</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
<!-- End Main Slider -->

 <!--Start Service Style2 Area-->
<section class="service-style2-area">
    <div class="container">
        <div class="service-style2__top-title">
            <div class="sec-title">
                <div class="sub-title">
                    <h6><span class="border-left"></span>Our Services</h6>
                </div>
                <h2>Superior Roofing Services</h2>
            </div>
            <div class="btn-box">
                <a class="btn-one" href="services.html">
                    <span class="txt">All Services</span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="theme_carousel service-style2-carousel owl-dot-style1 owl-theme owl-carousel"
                     data-options='{"loop": true, "margin": 30, "autoheight":true, "lazyload":true, "nav": false, "dots": true, "autoplay": true, "autoplayTimeout": 6000, "smartSpeed": 300, "responsive":{ "0" :{ "items": "1" }, "600" :{ "items" : "1" }, "768" :{ "items" : "1" } , "992":{ "items" : "2" }, "1200":{ "items" : "3" }}}'>
                    <!--Start Single Service Style2-->
                    <div class="single-service-style2 wow fadeInUp" data-wow-delay="00ms"
                         data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="img-holder">
                                <img src="/asset_web/images/services/service-v1-1.jpg" alt="">
                            </div>
                            <div class="title-holder clearfix">
                                <div class="inner-text">
                                    <h3><a href="services-details.html">TMT Rebars</a></h3>
                                    <p>Ankur Udyog’s TMT rebars come with a series of inherent advantages like consistent...</p>
                                </div>
                                <div class="icon">
                                    <div class="pattern-bg"
                                         style="background-image: url(/asset_web/images/pattern/thm-pattern-1.png);">
                                    </div>
                                    <span class="flaticon-roof"></span>
                                    <div class="overlay">
                                        <a href="services-details.html">
                                            <i class="fa fa-angle-right"
                                               aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Single Service Style2-->
                    <!--Start Single Service Style2-->
                    <div class="single-service-style2 wow fadeInUp" data-wow-delay="00ms"
                         data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="img-holder">
                                <img src="/asset_web/images/services/service-v1-2.jpg" alt="">
                            </div>
                            <div class="title-holder clearfix">
                                <div class="inner-text">
                                    <h3><a href="services-details.html">Sturdflex- waterproofing solutions</a></h3>
                                    <p>80-90% of homes experience water damage...</p>
                                </div>
                                <div class="icon">
                                    <div class="pattern-bg"
                                         style="background-image: url(/asset_web/images/pattern/thm-pattern-1.png);">
                                    </div>
                                    <span class="flaticon-roof-1"></span>
                                    <div class="overlay">
                                        <a href="services-details.html">
                                            <i class="fa fa-angle-right"
                                               aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Single Service Style2-->
                    <!--Start Single Service Style2-->
                    <div class="single-service-style2 wow fadeInUp" data-wow-delay="00ms"
                         data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="img-holder">
                                <img src="/asset_web/images/services/service-v1-3.jpg" alt="">
                            </div>
                            <div class="title-holder clearfix">
                                <div class="inner-text">
                                    <h3><a href="services-details.html">Gates & Grills</a></h3>
                                    <p>Any gate or grill keeps your home secure, but exceptionally designed...</p>
                                </div>
                                <div class="icon">
                                    <div class="pattern-bg"
                                         style="background-image: url(/asset_web/images/pattern/thm-pattern-1.png);">
                                    </div>
                                    <span class="flaticon-roof-2"></span>
                                    <div class="overlay">
                                        <a href="services-details.html">
                                            <i class="fa fa-angle-right"
                                               aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Single Service Style2-->
                    <!--Start Single Service Style2-->
                    <div class="single-service-style2 wow fadeInUp" data-wow-delay="00ms"
                         data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="img-holder">
                                <img src="/asset_web/images/services/service-v1-1.jpg" alt="">
                            </div>
                            <div class="title-holder clearfix">
                                <div class="inner-text">
                                    <h3><a href="services-details.html">Wires & Nails</a></h3>
                                    <p>Made by Drawing Process from mild steel, these wires have very high...</p>
                                </div>
                                <div class="icon">
                                    <div class="pattern-bg"
                                         style="background-image: url(/asset_web/images/pattern/thm-pattern-1.png);">
                                    </div>
                                    <span class="flaticon-roof"></span>
                                    <div class="overlay">
                                        <a href="services-details.html">
                                            <i class="fa fa-angle-right"
                                               aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Single Service Style2-->
                    <!--Start Single Service Style2-->
                    <div class="single-service-style2 wow fadeInUp" data-wow-delay="00ms"
                         data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="img-holder">
                                <img src="/asset_web/images/services/service-v1-1.jpg" alt="">
                            </div>
                            <div class="title-holder clearfix">
                                <div class="inner-text">
                                    <h3><a href="services-details.html">TMT Rebars</a></h3>
                                    <p>Ankur Udyog’s TMT rebars come with a series of inherent advantages like consistent...</p>
                                </div>
                                <div class="icon">
                                    <div class="pattern-bg"
                                         style="background-image: url(/asset_web/images/pattern/thm-pattern-1.png);">
                                    </div>
                                    <span class="flaticon-roof"></span>
                                    <div class="overlay">
                                        <a href="services-details.html">
                                            <i class="fa fa-angle-right"
                                               aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Single Service Style2-->
                    <!--Start Single Service Style2-->
                    <div class="single-service-style2 wow fadeInUp" data-wow-delay="00ms"
                         data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="img-holder">
                                <img src="/asset_web/images/services/service-v1-2.jpg" alt="">
                            </div>
                            <div class="title-holder clearfix">
                                <div class="inner-text">
                                    <h3><a href="services-details.html">Sturdflex- waterproofing solutions</a></h3>
                                    <p>80-90% of homes experience water damage...</p>
                                </div>
                                <div class="icon">
                                    <div class="pattern-bg"
                                         style="background-image: url(/asset_web/images/pattern/thm-pattern-1.png);">
                                    </div>
                                    <span class="flaticon-roof-1"></span>
                                    <div class="overlay">
                                        <a href="services-details.html">
                                            <i class="fa fa-angle-right"
                                               aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Single Service Style2-->
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Service Style2 Area-->

<!--Start Features Style1 Area-->
<section class="features-style1-area">
    <div class="pattern-bg" style="background-image: url(/asset_web/images/pattern/thm-pattern-4.png);"></div>
    <div class="container features-box">
        <div class="row">
            <!--Start Single Features Style1-->
            <div class="col-xl-3 col-lg-6 col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1500ms">
                <div class="single-features-style1 first-child text-center">
                    <div class="single-features-style1__bg" style="background-image: url(/asset_web/images/resources/features-1.jpg);"></div>
                    <div class="counting-box"></div>
                    <div class="inner">
                        <div class="static-content">
                            <div class="icon">
                                <span class="flaticon-protection"></span>
                            </div>
                            <h3>Safety<br> & Reliability</h3>
                        </div>
                        <div class="overlay-content">
                            <h3>Safety<br> & Reliability</h3>
                            <p>Simple easy to distinguish in a free hours when our power all of your choice.</p>
                        </div>
                    </div>
                    <div class="button-box">
                        <a href="services-details.html"><span class="fa fa-angle-right"></span>Details</a>
                    </div>
                </div>
            </div>
            <!--End Single Features Style1-->
            <!--Start Single Features Style1-->
            <div class="col-xl-3 col-lg-6 col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                <div class="single-features-style1 text-center">
                    <div class="single-features-style1__bg" style="background-image: url(/asset_web/images/resources/features-1.jpg);"></div>
                    <div class="counting-box"></div>
                    <div class="inner">
                        <div class="static-content">
                            <div class="icon">
                                <span class="flaticon-quality"></span>
                            </div>
                            <h3>High Quality<br> Materials</h3>
                        </div>
                        <div class="overlay-content">
                            <h3>High Quality<br> Materials</h3>
                            <p>Simple easy to distinguish in a free hours when our power all of your choice.</p>
                        </div>
                    </div>
                    <div class="button-box">
                        <a href="services-details.html"><span class="fa fa-angle-right"></span>Details</a>
                    </div>
                </div>
            </div>
            <!--End Single Features Style1-->
            <!--Start Single Features Style1-->
            <div class="col-xl-3 col-lg-6 col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                <div class="single-features-style1 bordernone text-center">
                    <div class="single-features-style1__bg" style="background-image: url(/asset_web/images/resources/features-1.jpg);"></div>
                    <div class="counting-box"></div>
                    <div class="inner">
                        <div class="static-content">
                            <div class="icon">
                                <span class="flaticon-construction-and-tools"></span>
                            </div>
                            <h3>Professional<br> Team</h3>
                        </div>
                        <div class="overlay-content">
                            <h3>Professional<br> Team</h3>
                            <p>Simple easy to distinguish in a free hours when our power all of your choice.</p>
                        </div>
                    </div>
                    <div class="button-box">
                        <a href="services-details.html"><span class="fa fa-angle-right"></span>Details</a>
                    </div>
                </div>
            </div>
            <!--End Single Features Style1-->
            <!--Start Single Features Style1-->
            <div class="col-xl-3 col-lg-6 col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1500ms">
                <div class="single-features-style1 text-center">
                    <div class="single-features-style1__bg" style="background-image: url(/asset_web/images/resources/features-1.jpg);"></div>
                    <div class="counting-box"></div>
                    <div class="inner">
                        <div class="static-content">
                            <div class="icon">
                                <span class="flaticon-certificate"></span>
                            </div>
                            <h3>Accredited<br> Service</h3>
                        </div>
                        <div class="overlay-content">
                            <h3>Accredited<br> Service</h3>
                            <p>Simple easy to distinguish in a free hours when our power all of your choice.</p>
                        </div>
                    </div>
                    <div class="button-box">
                        <a href="services-details.html"><span class="fa fa-angle-right"></span>Details</a>
                    </div>
                </div>
            </div>
            <!--End Single Features Style1-->

        </div>
    </div>

</section>
<!--End Features Style1 Area-->

<!--Start About Style1 Area-->
<section class="about-style1-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="about-style1__image1 martop0">
                    <div class="inner">
                        <img src="/asset_web/images/about/about-style1.jpg" alt="">
                    </div>
                    <div class="overlay-box">
                        <div class="bg-image" style="background-image: url(/asset_web/images/about/about-style1.jpg);"></div>
                        <div class="left">
                            <h2>12</h2>
                        </div>
                        <div class="right">
                            <h2>Years<br> Of Experience</h2>
                        </div>
                    </div>
                    <div class="round-box">
                        <div class="image-bg" style="background-image: url(/asset_web/images/about/about-style1.jpg);"></div>
                    </div>
                    <div class="arrow-box">
                        <div class="dot-top"></div>
                        <div class="top-angle-line"></div>
                        <div class="line"></div>
                        <div class="dot-bottom"></div>
                    </div>


                </div>
            </div>

            <div class="col-xl-6">
                <div class="about-style1__content">
                    <div class="sec-title">
                        <div class="sub-title">
                            <h6><span class="border-left"></span>About Company</h6>
                        </div>
                        <h2>Roofing Is Our<br> Heritage & Quality Is<br> Our Tradition</h2>
                    </div>
                    <div class="inner-content">
                        <ul>
                            <li><span class="flaticon-quality"></span> Certified</li>
                            <li><span class="flaticon-settings"></span> Innovative Work</li>
                            <li><span class="flaticon-home-repair"></span> Experienced</li>
                        </ul>
                        <div class="text-box">
                            <p>
                                These cases are perfectly simple and easy too distinguish. In a freek hours when
                                our power of choice is untrammelled and when nothing prevent our being able to
                                do what we like bestevery pleasures is to be welcomed every certain
                                circumstances claims of duty.
                            </p>
                            <p>
                                Perfectly simple and easy to distinguish a free hour whenour power choice is
                                untrammelled and when nothing prevents our being.
                            </p>
                        </div>
                        <div class="btns-box">
                            <a class="btn-one" href="about.html">
                                <span class="txt">Read More</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<!--End About Style1 Area-->

<!--Start Project Style1 Area-->
<section class="project-style1-area">
    <div class="container">
        <div class="project-top-title">
            <div class="sec-title">
                <div class="sub-title">
                    <h6><span class="border-left"></span>Work Gallery</h6>
                </div>
                <h2>Recently Completed Works</h2>
            </div>
            <div class="project-style1__button">
                <a class="btn-one" href="projects.html">
                    <span class="txt">All Projects</span>
                </a>
            </div>
        </div>
    </div>
    <div class="auto-container">
        <div class="row text-right-rtl">
            <!--Start Single project Item-->
            <div class="col-xl-3 col-lg-6 col-md-12">
                <div class="single-project-item">
                    <div class="img-holder">
                        <div class="inner">
                            <img src="/asset_web/images/portfolio/project-v1-1.jpg" alt="Awesome Image">
                        </div>
                        <div class="overlay-content text-center">
                            <p>Commercial</p>
                            <h3><a href="#">Roof Installation</a></h3>
                            <div class="border-box"></div>
                            <ul>
                                <li>
                                    <a class="lightbox-image" data-fancybox="gallery" href="/asset_web/images/portfolio/project-v1-1.jpg">
                                        <i class="flaticon-zoom"></i>
                                    </a>
                                </li>
                                <li><a href="#"><span class="flaticon-plus-1"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Single project Item-->
            <!--Start Single project Item-->
            <div class="col-xl-3 col-lg-6 col-md-12">
                <div class="single-project-item">
                    <div class="img-holder">
                        <div class="inner">
                            <img src="/asset_web/images/portfolio/project-v1-2.jpg" alt="Awesome Image">
                        </div>
                        <div class="overlay-content text-center">
                            <p>Commercial</p>
                            <h3><a href="#">Roof Installation</a></h3>
                            <div class="border-box"></div>
                            <ul>
                                <li>
                                    <a class="lightbox-image" data-fancybox="gallery" href="/asset_web/images/portfolio/project-v1-2.jpg">
                                        <i class="flaticon-zoom"></i>
                                    </a>
                                </li>
                                <li><a href="#"><span class="flaticon-plus-1"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Single project Item-->
            <!--Start Single project Item-->
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="single-project-item min_height300">
                    <div class="img-holder">
                        <div class="inner">
                            <img src="/asset_web/images/portfolio/project-v1-3.jpg" alt="Awesome Image">
                        </div>
                        <div class="overlay-content text-center">
                            <p>Commercial</p>
                            <h3><a href="#">Roof Installation</a></h3>
                            <div class="border-box"></div>
                            <ul>
                                <li>
                                    <a class="lightbox-image" data-fancybox="gallery" href="/asset_web/images/portfolio/project-v1-3.jpg">
                                        <i class="flaticon-zoom"></i>
                                    </a>
                                </li>
                                <li><a href="#"><span class="flaticon-plus-1"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Single project Item-->
            <!--Start Single project Item-->
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="single-project-item min_height300">
                    <div class="img-holder">
                        <div class="inner">
                            <img src="/asset_web/images/portfolio/project-v1-4.jpg" alt="Awesome Image">
                        </div>
                        <div class="overlay-content text-center">
                            <p>Commercial</p>
                            <h3><a href="#">Roof Installation</a></h3>
                            <div class="border-box"></div>
                            <ul>
                                <li>
                                    <a class="lightbox-image" data-fancybox="gallery" href="/asset_web/images/portfolio/project-v1-4.jpg">
                                        <i class="flaticon-zoom"></i>
                                    </a>
                                </li>
                                <li><a href="#"><span class="flaticon-plus-1"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Single project Item-->
            <!--Start Single project Item-->
            <div class="col-xl-3 col-lg-6 col-md-12">
                <div class="single-project-item">
                    <div class="img-holder">
                        <div class="inner">
                            <img src="/asset_web/images/portfolio/project-v1-5.jpg" alt="Awesome Image">
                        </div>
                        <div class="overlay-content text-center">
                            <p>Commercial</p>
                            <h3><a href="#">Roof Installation</a></h3>
                            <div class="border-box"></div>
                            <ul>
                                <li>
                                    <a class="lightbox-image" data-fancybox="gallery" href="/asset_web/images/portfolio/project-v1-5.jpg">
                                        <i class="flaticon-zoom"></i>
                                    </a>
                                </li>
                                <li><a href="#"><span class="flaticon-plus-1"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Single project Item-->
            <!--Start Single project Item-->
            <div class="col-xl-3 col-lg-6 col-md-12">
                <div class="single-project-item">
                    <div class="img-holder">
                        <div class="inner">
                            <img src="/asset_web/images/portfolio/project-v1-6.jpg" alt="Awesome Image">
                        </div>
                        <div class="overlay-content text-center">
                            <p>Commercial</p>
                            <h3><a href="#">Roof Installation</a></h3>
                            <div class="border-box"></div>
                            <ul>
                                <li>
                                    <a class="lightbox-image" data-fancybox="gallery" href="/asset_web/images/portfolio/project-v1-6.jpg">
                                        <i class="flaticon-zoom"></i>
                                    </a>
                                </li>
                                <li><a href="#"><span class="flaticon-plus-1"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Single project Item-->

        </div>
    </div>
</section>
<!--End Project Style1 Area-->
<!--Start Video Gallery Style1 Area-->
<section class="video-gallery-style1-area">
    <div class="video-gallery-style1-area__bg" style="background-image: url(/asset_web/images/resources/video-gallery-bg.jpg);"></div>
    <div class="pattern-bg" style="background-image: url(/asset_web/images/pattern/thm-pattern-5.png);"></div>
    <div class="pattern-bg-2" style="background-image: url(/asset_web/images/pattern/thm-pattern-5.png);"></div>
    <div class="pattern-bg-3" style="background-image: url(/asset_web/images/pattern/thm-pattern-5.png);"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="video-gallery-style1_content">
                    <div class="inner-box">
                        <div class="sec-title">
                            <div class="sub-title">
                                <h6><span class="border-left"></span>Ankur Udyog</h6>
                            </div>
                            <h2>Manufacturing Process</h2>
                        </div>
                        <div class="inner-content">
                            <div class="text">
                                <p>
                                    Ankur Udyog currently has four fully operational steel manufacturing units in India. This includes a state-of- the art integrated steel plant at Durgapur, with facilities like DRI Unit, EAF, Continuous Billet Casting Mill, sophisticated and high-speed Rolling Mill,sophisticated and high-speed Rolling Mill.
                                </p>
                            </div>
                        </div>
                        <div class="service-style1__bottom-text">
                            <div class="btns-box">
                                <a class="btn-one style2" href="/Website/ContactUs">
                                    <span class="txt">Contact with us</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="video-gallery-style1__video-holder">
                        <div class="icon wow zoomIn animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                            <a class="video-popup" title="Video Gallery" href="https://www.youtube.com/watch?v=p25gICT63ek">
                                <span class="flaticon-play-button"></span>
                            </a>
                        </div>
                        <h4>Ankur Udyog</h4>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!--End Video Gallery Style1 Area-->
<!--Start Working process area -->
<section class="working-process-area">
    <div class="container">
        <div class="sec-title center text-center">
            <div class="sub-title">
                <h6><span class="border-left"></span> How it’s Work <span class="border-right"></span></h6>
            </div>
            <h2>Standard Working Process</h2>
        </div>

        <div class="row">
            <div class="col-xl-12">
                <ul class="working-process-box">
                    <!--Start Working process Single-->
                    <li class="single-working-process wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="img-holder">
                            <div class="inner">
                                <img src="/asset_web/images/resources/working-process-1.jpg" alt="">
                                <div class="counting-box">
                                    <div class="count"></div>
                                </div>
                            </div>
                        </div>
                        <div class="text-holder">
                            <h3>Consultation</h3>
                            <p>Except to obtain some advantage from it but who has any right to find.</p>
                            <div class="btn-box">
                                <a class="btn-two" href="services-details.html">More Details</a>
                            </div>
                        </div>
                        <div class="arrow-icon">
                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        </div>
                    </li>
                    <!--End Working process Single-->
                    <!--Start Working process Single-->
                    <li class="single-working-process wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="img-holder">
                            <div class="inner">
                                <img src="/asset_web/images/resources/working-process-2.jpg" alt="">
                                <div class="counting-box">
                                    <div class="count"></div>
                                </div>
                            </div>
                        </div>
                        <div class="text-holder">
                            <h3>Detailed Proposal</h3>
                            <p>Advantages from it who has any right too man who chooses to enjoy.</p>
                            <div class="btn-box">
                                <a class="btn-two" href="services-details.html">More Details</a>
                            </div>
                        </div>
                        <div class="arrow-icon">
                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        </div>
                    </li>
                    <!--End Working process Single-->
                    <!--Start Working process Single-->
                    <li class="single-working-process wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="img-holder">
                            <div class="inner">
                                <img src="/asset_web/images/resources/working-process-3.jpg" alt="">
                                <div class="counting-box">
                                    <div class="count"></div>
                                </div>
                            </div>
                        </div>
                        <div class="text-holder">
                            <h3>Project Installation</h3>
                            <p>Obtains some advantage from it’s who has any right to find fault with.</p>
                            <div class="btn-box">
                                <a class="btn-two" href="services-details.html">More Details</a>
                            </div>
                        </div>
                    </li>
                    <!--End Working process Single-->
                </ul>
            </div>
        </div>

    </div>
</section>
<!--End Working process area -->
<!--Start Team Style1 Area-->
<section class="team-style1-area">
    <div class="pattern-bg" style="background-image: url(/asset_web/images/pattern/thm-pattern-4.png);"></div>
    <div class="container">
        <div class="sec-title">
            <div class="sub-title">
                <h6><span class="border-left"></span>Team Members</h6>
            </div>
            <h2>Meet Our Expert Team</h2>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="owl-carousel owl-theme team-carousel owl-nav-style-one">
                    <!--Start Single Team Style1-->
                    <div class="single-team-style1 wow fadeInLeft animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="img-holder">
                            <div class="inner">
                                <img src="/asset_web/images/team/team-v1-1.jpg" alt="">
                                <div class="overlay-bg"></div>
                            </div>
                        </div>
                        <div class="title-holder">
                            <h3><a href="team-single.html">Max Benjamin</a></h3>
                            <p>Founder</p>
                            <div class="social-link-box">
                                <ul class="team-social-link">
                                    <li>
                                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--End Single Team Style1-->
                    <!--Start Single Team Style1-->
                    <div class="single-team-style1 wow fadeInLeft animated" data-wow-delay="100ms" data-wow-duration="1500ms">
                        <div class="img-holder">
                            <div class="inner">
                                <img src="/asset_web/images/team/team-v1-2.jpg" alt="">
                                <div class="overlay-bg"></div>
                            </div>
                        </div>
                        <div class="title-holder">
                            <h3><a href="team-single.html">Harley Reuban</a></h3>
                            <p>Manager</p>
                            <div class="social-link-box">
                                <ul class="team-social-link">
                                    <li>
                                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--End Single Team Style1-->
                    <!--Start Single Team Style1-->
                    <div class="single-team-style1 wow fadeInRight animated" data-wow-delay="100ms" data-wow-duration="1500ms">
                        <div class="img-holder">
                            <div class="inner">
                                <img src="/asset_web/images/team/team-v1-3.jpg" alt="">
                                <div class="overlay-bg"></div>
                            </div>
                        </div>
                        <div class="title-holder">
                            <h3><a href="team-single.html">Luke Stanley</a></h3>
                            <p>Executive</p>
                            <div class="social-link-box">
                                <ul class="team-social-link">
                                    <li>
                                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--End Single Team Style1-->
                    <!--Start Single Team Style1-->
                    <div class="single-team-style1 wow fadeInRight animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="img-holder">
                            <div class="inner">
                                <img src="/asset_web/images/team/team-v1-4.jpg" alt="">
                                <div class="overlay-bg"></div>
                            </div>
                        </div>
                        <div class="title-holder">
                            <h3><a href="team-single.html">Ariana Melody</a></h3>
                            <p>Executive</p>
                            <div class="social-link-box">
                                <ul class="team-social-link">
                                    <li>
                                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--End Single Team Style1-->

                </div>
            </div>

        </div>
    </div>
</section>
<!--End Team Style1 Area-->
<!--Start Testimonials Style1 area -->
<section class="testimonials-style1-area">
    <div class="container">
        <div class="sec-title center text-center">
            <div class="sub-title">
                <h6><span class="border-left"></span> Testimonials <span class="border-right"></span></h6>
            </div>
            <h2>Words From Our Customer</h2>
        </div>

        <div class="row">
            <div class="col-xl-12">
                <div class="testimonials-style1__content wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                    <div class="theme_carousel testimonials-carousel_1 owl-dot-style1 owl-theme owl-carousel" data-options='{"loop": true, "margin": 30, "autoheight":true, "lazyload":true, "nav": false, "dots": true, "autoplay": true, "autoplayTimeout": 6000, "smartSpeed": 300, "responsive":{ "0" :{ "items": "1" }, "600" :{ "items" : "1" }, "768" :{ "items" : "1" } , "992":{ "items" : "1" }, "1200":{ "items" : "2" }}}'>

                        <!--Start Single Testimonials Style1-->
                        <div class="single-testimonials-style1">
                            <div class="img-holder">
                                <div class="top-pattern-bg" style="background-image: url(/asset_web/images/pattern/thm-pattern-4.png);">
                                </div>
                                <div class="bottom-pattern-bg" style="background-image: url(/asset_web/images/pattern/thm-pattern-5.png);">
                                </div>
                                <div class="img-box">
                                    <img src="/asset_web/images/testimonial/testimonial-v1-1.jpg" alt="">
                                </div>
                                <div class="review-box">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="text-holder">
                                <div class="top">
                                    <div class="icon">
                                        <span class="flaticon-quote-3"></span>
                                    </div>
                                    <div class="name">
                                        <h3>Silvester Scott</h3>
                                        <span>Liverpool</span>
                                    </div>
                                </div>
                                <div class="text">
                                    <p>
                                        Thank you for all of your support. All of you love & forse being you. I
                                        cried tears been a blessing in my life for all of your you love & forse.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--End Single Testimonials Style1-->
                        <!--Start Single Testimonials Style1-->
                        <div class="single-testimonials-style1">
                            <div class="img-holder">
                                <div class="top-pattern-bg" style="background-image: url(/asset_web/images/pattern/thm-pattern-4.png);">
                                </div>
                                <div class="bottom-pattern-bg" style="background-image: url(/asset_web/images/pattern/thm-pattern-5.png);">
                                </div>
                                <div class="img-box">
                                    <img src="/asset_web/images/testimonial/testimonial-v1-2.jpg" alt="">
                                </div>
                                <div class="review-box">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="text-holder">
                                <div class="top">
                                    <div class="icon">
                                        <span class="flaticon-quote-3"></span>
                                    </div>
                                    <div class="name">
                                        <h3>Penelope Hazel</h3>
                                        <span>Los Angeles</span>
                                    </div>
                                </div>
                                <div class="text">
                                    <p>
                                        I have pleasure of dealing with your experts for past one plus years.
                                        rufers team has been very knowledgeable, efficient & Professional.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--End Single Testimonials Style1-->
                        <!--Start Single Testimonials Style1-->
                        <div class="single-testimonials-style1">
                            <div class="img-holder">
                                <div class="top-pattern-bg" style="background-image: url(/asset_web/images/pattern/thm-pattern-4.png);">
                                </div>
                                <div class="bottom-pattern-bg" style="background-image: url(/asset_web/images/pattern/thm-pattern-5.png);">
                                </div>
                                <div class="img-box">
                                    <img src="/asset_web/images/testimonial/testimonial-v1-1.jpg" alt="">
                                </div>
                                <div class="review-box">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="text-holder">
                                <div class="top">
                                    <div class="icon">
                                        <span class="flaticon-quote-3"></span>
                                    </div>
                                    <div class="name">
                                        <h3>Silvester Scott</h3>
                                        <span>Liverpool</span>
                                    </div>
                                </div>
                                <div class="text">
                                    <p>
                                        Thank you for all of your support. All of you love & forse being you. I
                                        cried tears been a blessing in my life for all of your you love & forse.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--End Single Testimonials Style1-->
                        <!--Start Single Testimonials Style1-->
                        <div class="single-testimonials-style1">
                            <div class="img-holder">
                                <div class="top-pattern-bg" style="background-image: url(/asset_web/images/pattern/thm-pattern-4.png);">
                                </div>
                                <div class="bottom-pattern-bg" style="background-image: url(/asset_web/images/pattern/thm-pattern-5.png);">
                                </div>
                                <div class="img-box">
                                    <img src="/asset_web/images/testimonial/testimonial-v1-2.jpg" alt="">
                                </div>
                                <div class="review-box">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="text-holder">
                                <div class="top">
                                    <div class="icon">
                                        <span class="flaticon-quote-3"></span>
                                    </div>
                                    <div class="name">
                                        <h3>Penelope Hazel</h3>
                                        <span>Los Angeles</span>
                                    </div>
                                </div>
                                <div class="text">
                                    <p>
                                        I have pleasure of dealing with your experts for past one plus years.
                                        rufers team has been very knowledgeable, efficient & Professional.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--End Single Testimonials Style1-->
                        <!--Start Single Testimonials Style1-->
                        <div class="single-testimonials-style1">
                            <div class="img-holder">
                                <div class="top-pattern-bg" style="background-image: url(/asset_web/images/pattern/thm-pattern-4.png);">
                                </div>
                                <div class="bottom-pattern-bg" style="background-image: url(/asset_web/images/pattern/thm-pattern-5.png);">
                                </div>
                                <div class="img-box">
                                    <img src="/asset_web/images/testimonial/testimonial-v1-1.jpg" alt="">
                                </div>
                                <div class="review-box">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="text-holder">
                                <div class="top">
                                    <div class="icon">
                                        <span class="flaticon-quote-3"></span>
                                    </div>
                                    <div class="name">
                                        <h3>Silvester Scott</h3>
                                        <span>Liverpool</span>
                                    </div>
                                </div>
                                <div class="text">
                                    <p>
                                        Thank you for all of your support. All of you love & forse being you. I
                                        cried tears been a blessing in my life for all of your you love & forse.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--End Single Testimonials Style1-->
                        <!--Start Single Testimonials Style1-->
                        <div class="single-testimonials-style1">
                            <div class="img-holder">
                                <div class="top-pattern-bg" style="background-image: url(/asset_web/images/pattern/thm-pattern-4.png);">
                                </div>
                                <div class="bottom-pattern-bg" style="background-image: url(/asset_web/images/pattern/thm-pattern-5.png);">
                                </div>
                                <div class="img-box">
                                    <img src="/asset_web/images/testimonial/testimonial-v1-2.jpg" alt="">
                                </div>
                                <div class="review-box">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="text-holder">
                                <div class="top">
                                    <div class="icon">
                                        <span class="flaticon-quote-3"></span>
                                    </div>
                                    <div class="name">
                                        <h3>Penelope Hazel</h3>
                                        <span>Los Angeles</span>
                                    </div>
                                </div>
                                <div class="text">
                                    <p>
                                        I have pleasure of dealing with your experts for past one plus years.
                                        rufers team has been very knowledgeable, efficient & Professional.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--End Single Testimonials Style1-->

                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!--End Testimonials Style1 area -->
<!--Start Contact Info Style1 Area-->
<section class="contact-info-style1-area">
    <div class="contact-info-area__bg" style="background-image: url(/asset_web/images/parallax-background/contact-info-area__bg.jpg);"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="contact-info__box paroller-2">
                    <div class="sec-title center text-center wow slideInDown" data-wow-delay="100ms" data-wow-duration="1500ms">
                        <div class="sub-title">
                            <h6><span class="border-left"></span> Testimonials <span class="border-right"></span></h6>
                        </div>
                    </div>
                    <h2><a href="tel:123456789">+51 (0) 888 455 369</a></h2>
                    <p>
                        Perfectly simple & easy to distinguish free hour when power of choice is nothing prevents
                        our being.
                    </p>
                    <div class="btn-box wow slideInUp" data-wow-delay="200ms" data-wow-duration="1000ms">
                        <a class="btn-one" href="#">
                            <span class="txt">Get Call Back</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Contact Info Style1 Area-->
<!--Start Blog Style1 Area-->
<section class="blog-style1-area">
    <div class="container">
        <div class="blog-top-title">
            <div class="sec-title">
                <div class="sub-title">
                    <h6><span class="border-left"></span>News & Updates</h6>
                </div>
                <h2>Latest From Blog Post</h2>
            </div>
            <div class="blog-style1__button">
                <a class="btn-one" href="blog.html">
                    <span class="txt">All Post</span>
                </a>
            </div>
        </div>

        <div class="row text-right-rtl">
            <!--Start Single blog Style1-->
            <div class="col-xl-4 col-lg-4">
                <div class="single-blog-style1 wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="img-holder">
                        <div class="inner">
                            <img src="/asset_web/images/blog/blog-v1-1.jpg" alt="">
                        </div>
                        <div class="categories-date-box">
                            <div class="categories-box">
                                <h6><span class="flaticon-open-archive"></span>Maintenance</h6>
                            </div>
                            <div class="date-box">
                                <h3>20<br><span>Jul</span></h3>
                            </div>
                        </div>
                    </div>
                    <div class="text-holder">
                        <h3 class="blog-title">
                            <a href="blog-single.html">Protecting Your Roof From Storm Damage</a>
                        </h3>
                        <div class="text">
                            <p>Prevents our being able do what we like best every pleasure avoided...</p>
                        </div>
                        <div class="bottom-box">
                            <div class="pattern-bg" style="background-image: url(/asset_web/images/pattern/thm-pattern-7.png);"></div>
                            <div class="left">
                                <a class="btn-two" href="blog-single.html">More Details</a>
                            </div>
                            <div class="right">
                                <ul>
                                    <li><a href="#"><span class="fa fa-heart-o"></span>10</a></li>
                                    <li><a href="#"><span class="fa fa-share-alt share"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Single blog Style1-->
            <!--Start Single blog Style1-->
            <div class="col-xl-4 col-lg-4">
                <div class="single-blog-style1 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                    <div class="img-holder">
                        <div class="inner">
                            <img src="/asset_web/images/blog/blog-v1-2.jpg" alt="">
                        </div>
                        <div class="categories-date-box">
                            <div class="categories-box">
                                <h6><span class="flaticon-open-archive"></span>Tips & Tricks</h6>
                            </div>
                            <div class="date-box">
                                <h3>10<br><span>Jul</span></h3>
                            </div>
                        </div>
                    </div>
                    <div class="text-holder">
                        <h3 class="blog-title">
                            <a href="blog-single.html">How To Weather Proof Your Roof This Winter?</a>
                        </h3>
                        <div class="text">
                            <p>Mistaken idea denouncing pleasure and praising pain was complete...</p>
                        </div>
                        <div class="bottom-box">
                            <div class="pattern-bg" style="background-image: url(/asset_web/images/pattern/thm-pattern-7.png);"></div>
                            <div class="left">
                                <a class="btn-two" href="blog-single.html">More Details</a>
                            </div>
                            <div class="right">
                                <ul>
                                    <li><a href="#"><span class="fa fa-heart-o"></span>10</a></li>
                                    <li><a href="#"><span class="fa fa-share-alt share"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Single blog Style1-->
            <!--Start Single blog Style1-->
            <div class="col-xl-4 col-lg-4">
                <div class="single-blog-style1 wow fadeInUp" data-wow-delay="500ms" data-wow-duration="1500ms">
                    <div class="img-holder">
                        <div class="inner">
                            <img src="/asset_web/images/blog/blog-v1-3.jpg" alt="">
                        </div>
                        <div class="categories-date-box">
                            <div class="categories-box">
                                <h6><span class="flaticon-open-archive"></span>Roof Leaks</h6>
                            </div>
                            <div class="date-box">
                                <h3>30<br><span>Jun</span></h3>
                            </div>
                        </div>
                    </div>
                    <div class="text-holder">
                        <h3 class="blog-title">
                            <a href="blog-single.html">The 5 Most Common Causes Of Roof Leaks</a>
                        </h3>
                        <div class="text">
                            <p>No one rejects dislikes or avoids pleasure itself because it is pleasure...</p>
                        </div>
                        <div class="bottom-box">
                            <div class="pattern-bg" style="background-image: url(/asset_web/images/pattern/thm-pattern-7.png);"></div>
                            <div class="left">
                                <a class="btn-two" href="blog-single.html">More Details</a>
                            </div>
                            <div class="right">
                                <ul>
                                    <li><a href="#"><span class="fa fa-heart-o"></span>10</a></li>
                                    <li><a href="#"><span class="fa fa-share-alt share"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Single blog Style1-->


        </div>
    </div>
</section>
<!--End Blog Style1 Area-->