
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Website_LayoutPage.cshtml";
}

 <!-- Start Main Slider -->
<section class="main-slider style1">
    <div class="slider-box">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100 slider_img" src="/asset_web/images/slides/banner-1.jpeg" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100 slider_img" src="/asset_web/images/slides/banner-2.jpeg" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100 slider_img" src="/asset_web/images/slides/banner-3.jpeg" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100 slider_img" src="/asset_web/images/slides/banner-4.jpeg" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100 slider_img" src="/asset_web/images/slides/banner_3.jpg" alt="First slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <!-- Banner Carousel -->
        @*<div class="banner-carousel owl-theme owl-carousel">
            <!-- Slide -->
            <div class="slide">
                <div class="image-layer" style="background-image:url(/asset_web/images/slides/banner-1.jpeg)">
                </div>
                <div class="auto-container">
                    <div class="content">
                        <div class="big-title">  
                            <h2>100% feed<br> stock Is produced<br> inhouse</h2>
                        </div>
                        <div class="text">
                            <p>
                                No semi-finished product is being purchased from open market.
                            </p>
                        </div>
                        <div class="btns-box">
                            <a class="btn-one" href="/Home/AboutUs">
                                <span class="txt">Read More</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slide -->
            <div class="slide">
                <div class="image-layer" style="background-image:url(/asset_web/images/slides/banner-2.jpeg)">
                </div>
                <div class="auto-container">
                    <div class="content">
                        <div class="big-title">
                            <h2>100% feed<br> stock Is produced<br> inhouse</h2>
                        </div>
                        <div class="text">
                            <p>
                                No semi-finished product is being purchased from open market.
                            </p>
                        </div>
                        <div class="btns-box">
                            <a class="btn-one" href="/Home/AboutUs">
                                <span class="txt">Read More</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slide -->
            <div class="slide">
                <div class="image-layer" style="background-image:url(/asset_web/images/slides/banner-3.jpeg)">
                </div>
                <div class="auto-container">
                    <div class="content">
                        <div class="big-title">
                            <h2>100% feed<br> stock Is produced<br> inhouse</h2>
                        </div>
                        <div class="text">
                            <p>
                                No semi-finished product is being purchased from open market.
                            </p>
                        </div>
                        <div class="btns-box">
                            <a class="btn-one" href="/Home/AboutUs">
                                <span class="txt">Read More</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slide -->
            <div class="slide">
                <div class="image-layer" style="background-image:url(/asset_web/images/slides/banner-4.jpeg)">
                </div>
                <div class="auto-container">
                    <div class="content">
                        <div class="big-title">
                            <h2>100% feed<br> stock Is produced<br> inhouse</h2>
                        </div>
                        <div class="text">
                            <p>
                                No semi-finished product is being purchased from open market.
                            </p>
                        </div>
                        <div class="btns-box">
                            <a class="btn-one" href="/Home/AboutUs">
                                <span class="txt">Read More</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slide -->
            <div class="slide">
                <div class="image-layer" style="background-image:url(/asset_web/images/slides/banner_3.jpg)">
                </div>
                <div class="auto-container">
                    <div class="content">
                        <div class="big-title">
                            <h2>100% feed<br> stock Is produced<br> inhouse</h2>
                        </div>
                        <div class="text">
                            <p>
                                No semi-finished product is being purchased from open market.
                            </p>
                        </div>
                        <div class="btns-box">
                            <a class="btn-one" href="/Home/AboutUs">
                                <span class="txt">Read More</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    </div>
</section>
<!-- End Main Slider -->

 <!--Start Service Style2 Area-->
<section class="service-style2-area">
    <div class="container">
        <div class="service-style2__top-title">
            <div class="sec-title">
                <div class="sub-title">
                    <h6><span class="border-left"></span>Products</h6>
                </div>
                <h2>What We Do</h2>
            </div>
            <div class="btn-box">
                <a class="btn-one" href="/Website/Services">
                    <span class="txt">All Products</span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="theme_carousel service-style2-carousel owl-dot-style1 owl-theme owl-carousel"
                     data-options='{"loop": true, "margin": 30, "autoheight":true, "lazyload":true, "nav": false, "dots": true, "autoplay": true, "autoplayTimeout": 6000, "smartSpeed": 300, "responsive":{ "0" :{ "items": "1" }, "600" :{ "items" : "1" }, "768" :{ "items" : "1" } , "992":{ "items" : "2" }, "1200":{ "items" : "3" }}}'>
                    <!--Start Single Service Style2-->
                    <div class="single-service-style2 wow fadeInUp" data-wow-delay="00ms"
                         data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="img-holder">
                                <img src="/asset_web/images/services/sponge.jpg" class="service_img" alt="">
                            </div>
                            <div class="title-holder clearfix">
                                <div class="inner-text">
                                    <h3><a href="/Website/Services">Sponge Iron</a></h3>
                                    <p>The sponge iron manufacturing process starts with the sizing of the Iron ore....</p>
                                </div>
                                <div class="icon">
                                    <div class="pattern-bg"
                                         style="background-image: url(/asset_web/images/pattern/thm-pattern-1.png);">
                                    </div>
                                    <span class="flaticon-roof"></span>
                                    <div class="overlay">
                                        <a href="/Website/Services">
                                            <i class="fa fa-angle-right"
                                               aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Single Service Style2-->
                    <!--Start Single Service Style2-->
                    <div class="single-service-style2 wow fadeInUp" data-wow-delay="00ms"
                         data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="img-holder">
                                <img src="/asset_web/images/services/billets.jpeg" class="service_img img-fluid" />
                            </div>
                            <div class="title-holder clearfix">
                                <div class="inner-text">
                                    <h3><a href="/Website/Services">Billets</a></h3>
                                    <p>High quality sponge iron produced in-house is used as major raw material...</p>
                                </div>
                                <div class="icon">
                                    <div class="pattern-bg"
                                         style="background-image: url(/asset_web/images/pattern/thm-pattern-1.png);">
                                    </div>
                                    <span class="flaticon-roof"></span>
                                    <div class="overlay">
                                        <a href="/Website/Services">
                                            <i class="fa fa-angle-right"
                                               aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Single Service Style2-->
                    <!--Start Single Service Style2-->
                    <div class="single-service-style2 wow fadeInUp" data-wow-delay="00ms"
                         data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="img-holder">
                                <img src="/asset_web/images/services/tmt-rebars.jpg" class="service_img img-fluid" />
                            </div>
                            <div class="title-holder clearfix">
                                <div class="inner-text">
                                    <h3><a href="/Website/Services">TMX Re-Bars</a></h3>
                                    <p>The TMX Rebars Manufactured in this plant is through ultra-modern State...</p>
                                </div>
                                <div class="icon">
                                    <div class="pattern-bg"
                                         style="background-image: url(/asset_web/images/pattern/thm-pattern-1.png);">
                                    </div>
                                    <span class="flaticon-roof-1"></span>
                                    <div class="overlay">
                                        <a href="/Website/Services">
                                            <i class="fa fa-angle-right"
                                               aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Single Service Style2-->
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Service Style2 Area-->

<!--Start Features Style1 Area-->
<section class="features-style1-area">
    <div class="pattern-bg" style="background-image: url(/asset_web/images/pattern/thm-pattern-4.png);"></div>
    <div class="container features-box">
        <div class="row">
            <!--Start Single Features Style1-->
            <div class="col-xl-3 col-lg-6 col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1500ms">
                <div class="single-features-style1 first-child text-center">
                    <div class="single-features-style1__bg" style="background-image: url(/asset_web/images/resources/features-1.jpg);"></div>
                    <div class="counting-box"></div>
                    <div class="inner">
                        <div class="static-content">
                            <div class="icon">
                                <span class="flaticon-protection"></span>
                            </div>
                            <h3>Safety<br> & Reliability</h3>
                        </div>
                        <div class="overlay-content">
                            <h3>Safety<br> & Reliability</h3>
                            <p>Simple easy to distinguish in a free hours when our power all of your choice.</p>
                        </div>
                    </div>
                    @*<div class="button-box">
                        <a href="/Website/Services"><span class="fa fa-angle-right"></span>Details</a>
                    </div>*@
                </div>
            </div>
            <!--End Single Features Style1-->
            <!--Start Single Features Style1-->
            <div class="col-xl-3 col-lg-6 col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                <div class="single-features-style1 text-center">
                    <div class="single-features-style1__bg" style="background-image: url(/asset_web/images/resources/features-1.jpg);"></div>
                    <div class="counting-box"></div>
                    <div class="inner">
                        <div class="static-content">
                            <div class="icon">
                                <span class="flaticon-quality"></span>
                            </div>
                            <h3>High Quality<br> Materials</h3>
                        </div>
                        <div class="overlay-content">
                            <h3>High Quality<br> Materials</h3>
                            <p>Simple easy to distinguish in a free hours when our power all of your choice.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Single Features Style1-->
            <!--Start Single Features Style1-->
            <div class="col-xl-3 col-lg-6 col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                <div class="single-features-style1 bordernone text-center">
                    <div class="single-features-style1__bg" style="background-image: url(/asset_web/images/resources/features-1.jpg);"></div>
                    <div class="counting-box"></div>
                    <div class="inner">
                        <div class="static-content">
                            <div class="icon">
                                <span class="flaticon-construction-and-tools"></span>
                            </div>
                            <h3>Professional<br> Team</h3>
                        </div>
                        <div class="overlay-content">
                            <h3>Professional<br> Team</h3>
                            <p>Simple easy to distinguish in a free hours when our power all of your choice.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Single Features Style1-->
            <!--Start Single Features Style1-->
            <div class="col-xl-3 col-lg-6 col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1500ms">
                <div class="single-features-style1 text-center">
                    <div class="single-features-style1__bg" style="background-image: url(/asset_web/images/resources/features-1.jpg);"></div>
                    <div class="counting-box"></div>
                    <div class="inner">
                        <div class="static-content">
                            <div class="icon">
                                <span class="flaticon-certificate"></span>
                            </div>
                            <h3>Accredited<br> Service</h3>
                        </div>
                        <div class="overlay-content">
                            <h3>Accredited<br> Service</h3>
                            <p>Simple easy to distinguish in a free hours when our power all of your choice.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Single Features Style1-->

        </div>
    </div>

</section>
<!--End Features Style1 Area-->

<!--Start About Style1 Area-->
<section class="about-style1-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="about-style1__image1 martop0">
                    <div class="inner">
                        <img src="/asset_web/images/about/advance-processing.png" alt="">
                    </div>
                </div>
            </div>

            <div class="col-xl-6">
                <div class="about-style1__content">
                    <div class="sec-title">
                        <div class="sub-title">
                            <h6><span class="border-left"></span>About Company</h6>
                        </div>
                        <h2>Primary Process of Ankur TMX</h2>
                    </div>
                    <div class="inner-content">
                        <ul>
                            <li><span class="flaticon-quality"></span> Certified</li>
                            <li><span class="flaticon-settings"></span> Innovative Work</li>
                            <li><span class="flaticon-home-repair"></span> Experienced</li>
                        </ul>
                        <div class="text-box">
                            <p>
                                The quenching & self tempering process has been sourced from THERMEX Germany under official license from H & K India. Ankur TMX makes use of the energy of the rolled bar after the finishing stand of  the rolling mill. Normally this energy is totally wasted as the rolled bars at 950-1000 C are allowed to cool to ambient  temperature on the cooling bed. The Block Mill and Thermex  process are very sophisticated and precise technology that has been  developed after years of trials and tests and ensures superior finish, unmatchable strength and maximum ductility.
                            </p>
                        </div>
                        <div class="btns-box">
                            <a class="btn-one" href="/Website/AboutUs">
                                <span class="txt">Read More</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<!--End About Style1 Area-->

<!--Start Video Gallery Style1 Area-->
<section class="video-gallery-style1-area">
    <div class="video-gallery-style1-area__bg" style="background-image: url(/asset_web/images/resources/manufacturing.jpg);"></div>
    <div class="pattern-bg" style="background-image: url(/asset_web/images/pattern/thm-pattern-5.png);"></div>
    <div class="pattern-bg-2" style="background-image: url(/asset_web/images/pattern/thm-pattern-5.png);"></div>
    <div class="pattern-bg-3" style="background-image: url(/asset_web/images/pattern/thm-pattern-5.png);"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="video-gallery-style1_content">
                    <div class="inner-box">
                        <div class="sec-title">
                            <div class="sub-title">
                                <h6><span class="border-left"></span>Ankur Udyog</h6>
                            </div>
                            <h2>Manufacturing Process</h2>
                        </div>
                        <div class="inner-content">
                            <div class="text">
                                <p>
                                    Ankur Udyog currently has four fully operational steel manufacturing units in India. This includes a state-of- the art integrated steel plant at Durgapur, with facilities like DRI Unit, EAF, Continuous Billet Casting Mill, sophisticated and high-speed Rolling Mill,sophisticated and high-speed Rolling Mill.
                                </p>
                            </div>
                        </div>
                        <div class="service-style1__bottom-text">
                            <div class="btns-box">
                                <a class="btn-one style2" href="/Website/ContactUs">
                                    <span class="txt">Contact with us</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="video-gallery-style1__video-holder">
                        <div class="icon wow zoomIn animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                            <a class="video-popup" title="Video Gallery" href="https://www.youtube.com/watch?v=p25gICT63ek">
                                <span class="flaticon-play-button"></span>
                            </a>
                        </div>
                        <h4>Ankur Udyog</h4>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!--End Video Gallery Style1 Area-->

<!--Start Team Style1 Area-->
<section class="team-style1-area mb-5">
    <div class="container">
        <div class="sec-title">
            <div class="sub-title">
                <h6><span class="border-left"></span>Team Members</h6>
            </div>
            <h2>Core Team</h2>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="owl-carousel owl-theme team-carousel owl-nav-style-one">
                    <!--Start Single Team Style1-->
                    <div class="single-team-style1 wow fadeInLeft animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="img-holder">
                            <div class="inner">
                                <img src="/asset_web/images/team/ashok.jpeg" alt="">
                                <div class="overlay-bg"></div>
                            </div>
                        </div>
                        <div class="title-holder">
                            <h3><a href="/Website/OurTeam">Mr. Ashok Jalan</a></h3>
                            <p>Managing Director</p>
                        </div>
                    </div>
                    <!--End Single Team Style1-->
                    <!--Start Single Team Style1-->
                    <div class="single-team-style1 wow fadeInLeft animated" data-wow-delay="100ms" data-wow-duration="1500ms">
                        <div class="img-holder">
                            <div class="inner">
                                <img src="/asset_web/images/team/nikhil.jpg" alt="">
                                <div class="overlay-bg"></div>
                            </div>
                        </div>
                        <div class="title-holder">
                            <h3><a href="/Website/OurTeam">Mr. Nikhil Jalan</a></h3>
                            <p>Director</p>
                        </div>
                    </div>
                    <!--End Single Team Style1-->
                    <!--Start Single Team Style1-->
                    <div class="single-team-style1 wow fadeInRight animated" data-wow-delay="100ms" data-wow-duration="1500ms">
                        <div class="img-holder">
                            <div class="inner">
                                <img src="/asset_web/images/team/ankur.jpg" alt="">
                                <div class="overlay-bg"></div>
                            </div>
                        </div>
                        <div class="title-holder">
                            <h3><a href="/Website/OurTeam">Mr. Ankur Jalan</a></h3>
                            <p>Director</p>
                        </div>
                    </div>
                    <!--End Single Team Style1-->
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Team Style1 Area-->

