
@{
    ViewBag.Title = "TMXProcess";
    Layout = "~/Views/Shared/Website_LayoutPage.cshtml";
}

<!--Start breadcrumb area paroller-->
<section class="breadcrumb-area">
    <div class="breadcrumb-area-bg" style="background-image: url(/asset_web/images/breadcrumb/breadcrumb-1.jpg);">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="inner-content">
                    <div class="title" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
                        <h2>TMX Process</h2>
                    </div>
                    <div class="breadcrumb-menu" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1500">
                        <ul>
                            <li><a href="/Website/Index">Home</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            <li class="active">Process</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb area-->

<!--Start About Style1 Area-->
<section class="about-style1-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="about-style1__image1 martop0">
                    <div class="inner">
                        <img src="/asset_web/images/about/advance-processing.png" alt="">
                    </div>
                </div>
            </div>

            <div class="col-xl-6">
                <div class="about-style1__content">
                    <div class="sec-title">
                        <div class="sub-title">
                            <h6><span class="border-left"></span>About Company</h6>
                        </div>
                        <h2>Primary Process of Ankur TMX</h2>
                    </div>
                    <div class="inner-content">
                        <ul>
                            <li><span class="flaticon-quality"></span> Certified</li>
                            <li><span class="flaticon-settings"></span> Innovative Work</li>
                            <li><span class="flaticon-home-repair"></span> Experienced</li>
                        </ul>
                        <div class="text-box">
                            <p>
                                The quenching & self tempering process has been sourced from THERMEX Germany under official license from H & K India. Ankur TMX makes use of the energy of the rolled bar after the finishing stand of  the rolling mill. Normally this energy is totally wasted as the rolled bars at 950-1000 C are allowed to cool to ambient  temperature on the cooling bed. The Block Mill and Thermex  process are very sophisticated and precise technology that has been  developed after years of trials and tests and ensures superior finish, unmatchable strength and maximum ductility.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <p>The TMX Rebars Manufactured in this plant is through ultra-modern State of Art Fully 16 numbers Housing-less Horizontal / Vertical orientation Rolling Mill with 06 Stands BLOCK MILL and THERMEX Germany Quenching System.</p>
                <p>This plant has the latest technology and equipment is the most Modern Plant of the entire State of Uttar Pradesh. The Product of the plant is uniform and superior of ordinary TMT Rebars available in the Market on a matter of fact such an integrated plant with this superior technology in North India.</p>
            </div>
        </div>

    </div>
</section>
<!--End About Style1 Area-->

<!--Start cart area-->
<section class="cart-area">
    <div class="container">
        <div class="row text-right-rtl">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <h2 class="text-center mb-5">CHEMICAL PROPERTIES</h2>
                <div class="cart-table-box">
                    <div class="table-outer">
                        <table class="cart-table">
                            <thead class="cart-header clearfix">
                                <tr>
                                    <th>CHEMICAL PROPERTIES</th>
                                    <th>UNIT</th>
                                    <th>IS 1786 : 2017 (Gr.-Fe-500)</th>
                                    <th>ANKUR TMX Bars (Gr.-Fe-550)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td> Carbon</td>
                                    <td> % </td>
                                    <td>0.30 (Max.)</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td> Phosphorus (P)</td>
                                    <td> % </td>
                                    <td>0.055 (Max.)</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td> Sulphur (S)</td>
                                    <td> % </td>
                                    <td>0.055 (Max.)</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td> P + S</td>
                                    <td> % </td>
                                    <td>0.105 (Max.)</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td> Carbon</td>
                                    <td> % </td>
                                    <td>0.30 (Max.)</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td> CRE (Cr+Cu+Ni+Mo+P)</td>
                                    <td> % </td>
                                    <td>0.400 (Min.)</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td> Carbon Equivalent [CE= C+Mn/6+(Cr+Mo+V)/5+(Ni+Cu)/15</td>
                                    <td> % </td>
                                    <td>----</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td> Nitrogen</td>
                                    <td> ppm </td>
                                    <td>120 (Max.)</td>
                                    <td></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- start mechanical property-->
        <div class="row text-right-rtl mt-5">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <h2 class="text-center mb-5">MECHANICAL PROPERTIES</h2>
                <div class="cart-table-box">
                    <div class="table-outer">
                        <table class="cart-table">
                            <thead class="cart-header clearfix">
                                <tr>
                                    <th>MECHANICAL PROPERTIES</th>
                                    <th>UNIT</th>
                                    <th>IS 1786 : 2017 (Gr.-Fe-500)</th>
                                    <th>ANKUR TMX Bars (Gr.-Fe-550)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td> Yield Stress (Min.)</td>
                                    <td> N/mm2 </td>
                                    <td>500 (Min.)</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Tensile Strength</td>
                                    <td> N/mm2 </td>
                                    <td>TS not less than 545.0 N/mm2</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td> TS/YS Ratio</td>
                                    <td> N/mm2 </td>
                                    <td>≥ 1.08</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td> Elongation</td>
                                    <td> % </td>
                                    <td>12.0 Min.</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td> Total Elongation</td>
                                    <td> % </td>
                                    <td>-----</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- // end machanical property-->

        <!-- start weight chart-->
        <div class="row text-right-rtl mt-5">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <h2 class="text-center mb-5">Weight chart (BIS V/S Ankur TMX)</h2>
                <div class="cart-table-box">
                    <div class="table-outer">
                        <table class="cart-table">
                            <thead class="cart-header clearfix">
                                <tr>
                                    <th>TMT BAR SIZE</th>
                                    <th>Weight Tolerance as per BIS</th>
                                    <th>As Per BIS Standard Weight</th>
                                    <th>Weight Tolerance as per Ankur TMX</th>
                                    <th>ANKUR TMX Fe 550</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>8 (MM)</td>
                                    <td>(± 7 %) </td>
                                    <td>0.395</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td> 10 (MM)</td>
                                    <td>(± 7 %) </td>
                                    <td>0.618</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td> 12 (MM)</td>
                                    <td> (± 5 %) </td>
                                    <td>0.888</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td> 16 (MM)</td>
                                    <td> (± 3 %)</td>
                                    <td>1.580</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td> 20 (MM)</td>
                                    <td> (± 3 %) </td>
                                    <td>2.470</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td> 25 (MM)</td>
                                    <td> (± 3 %) </td>
                                    <td>3.850</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td> 32 (MM)</td>
                                    <td> (± 3 %) </td>
                                    <td>6.310</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- // end weight chart -->
    </div>
</section>
<!--End cart area-->

<!--Start Blog Page-->
<section class="blog-page p-0">
    <div class="container">
        <div class="row text-right-rtl">
            <div class="col-xl-12 col-lg-12">
                <h1 class="text-center mb-5">List of major plant equipment</h1>
                <div class="blog-details-content">
                    <div class="single-blog-style1 single-blog-style1--blog-large blog-details wow fadeInUp"
                         data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="text-holder pb-5">
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="blog-details-text-4">
                                        <div class="top-title">
                                            <div class="icon">
                                                <span class="flaticon-diamond-symbol"></span>
                                            </div>
                                            <h3>Capacitive power plant</h3>
                                        </div>
                                        <ul>
                                            <li>30 MW Turbine – Siemens Make</li>
                                            <li>55 Ton CFBC Boiler – UT Make</li>
                                            <li>69 Ton Waste Heat Recovery Gas Boilers – 2 Nos – Thermax Make</li>
                                            <li>2 x ESP Thermax Make</li>
                                            <li>DCS –Supcon Make</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <img src="~/asset_web/images/services/captive_power.jpg" alt="" class="border-img img-fluid">
                                </div>
                            </div>
                            <div class="row mt-5">
                                <div class="col-lg-8">
                                    <div class="blog-details-text-4">
                                        <div class="top-title">
                                            <div class="icon">
                                                <span class="flaticon-diamond-symbol"></span>
                                            </div>
                                            <h3>Steel melt shop</h3>
                                        </div>
                                        <ul>
                                            <li>Induction Furnaces </li>
                                            <li>Continuous Casting Machine</li>
                                            <li>30 ton x 3 Electrotherm</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <img src="~/asset_web/images/services/steel-melt.jpg" alt="" class="border-img img-fluid">
                                </div>
                            </div>
                            <div class="row mt-5">
                                <div class="col-lg-8">
                                    <div class="blog-details-text-4">
                                        <div class="top-title">
                                            <div class="icon">
                                                <span class="flaticon-diamond-symbol"></span>
                                            </div>
                                            <h3>Rolling mill</h3>
                                        </div>
                                        <ul>
                                            <li>Mill Stands</li>
                                            <li>AC Motors</li>
                                            <li>DC Motors</li>
                                            <li>6/11 x  3 stand</li>
                                            <li>16 housinten HV stand</li>
                                            <li>6 stand highspeed Blockmill</li>
                                            <li>Thermex Concast quenching system</li>
                                            <li>80 Meter Long …type automatic cooling bed.</li>
                                            <li>Fully automatic bar bundling, handling with zero Human touch.</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <img src="~/asset_web/images/services/RollingMill.png" alt="" class="border-img img-fluid"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Blog Page-->


